.nav-secondary {
  text-align: center;

  ul {
    text-transform: uppercase;
    display: inline-flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
  }

  a {
    padding: 8px 16px;
    border-radius: 24px;
    transition: color 0.2s linear, background-color 0.2 linear;

    &:hover {
      color: white;
      background-color: $brand-primary;
    }
  }
}
